workflows/escalation-lead-recovery-engine.json
{
  "name": "AI Sales Coordinator — Escalation & Lead Recovery Engine Phase 4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "363f409f-c75a-4266-89f1-549cee16c411",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AI_Sales_Coordinator_System_CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": 1646193374,
          "mode": "list",
          "cachedResultName": "Follow-Ups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=YOUR_SHEET_GID"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "96fc6483-935b-4937-8892-3f8df19c0e74",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLESHEETSOAUTH2API_CREDENTIAL_ID",
          "name": "YOUR_googleSheetsOAuth2Api_account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "92631c13-537a-4d1b-962c-9667ca926621",
              "leftValue": "={{ $json[\"Lead Email\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "97513aa0-ef9a-4155-8937-a69b7c620ed9",
      "name": "Overdue Follow-Up?"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=⚠️ Overdue Follow-Up Alert  \n\nLead ID: {{ $json[\"Lead ID\"] }} \nLead Name: {{ $json[\"Lead Name\"] }} \nLead Email: {{ $json[\"Lead Email\"] }}  \nAssigned Agent: {{ $json[\"Assigned Agent\"] }}\nPriority: {{ $json[\"Priority\"] }}  \nScheduled Date: {{ $json[\"Scheduled Date\"] }}  \nCurrent Status: {{ $json[\"Status\"] }}  \nAction Needed: Please follow up with this lead or update the CRM status.  \n\nThis alert was sent automatically by the AI Sales Coordinator System.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        -112
      ],
      "id": "ca28d55f-df22-44b3-b8d0-ee6f08914637",
      "name": "Notify Manager / Agent",
      "webhookId": "c6cdd9ce-9b0f-4e25-a9b6-3fc67cb1ca12",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAMAPI_CREDENTIAL_ID",
          "name": "YOUR_telegramApi_account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AI_Sales_Coordinator_System_CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": 1646193374,
          "mode": "list",
          "cachedResultName": "Follow-Ups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=YOUR_SHEET_GID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "Lead ID": "={{ $('Get row(s) in sheet').item.json[\"Lead ID\"] }}",
            "Lead Name": "={{ $('Get row(s) in sheet').item.json[\"Lead Name\"] }}",
            "Lead Email": "={{ $('Get row(s) in sheet').item.json[\"Lead Email\"] }}",
            "Follow-Up Number": "={{ $('Get row(s) in sheet').item.json[\"Follow-Up Number\"] }}",
            "Scheduled Date": "={{ $('Get row(s) in sheet').item.json[\"Scheduled Date\"] }}",
            "Status": "={{ $('Get row(s) in sheet').item.json.Status }}",
            "Sent Date": "={{ $('Get row(s) in sheet').item.json[\"Sent Date\"] }}",
            "Assigned Agent": "={{ $('Get row(s) in sheet').item.json[\"Assigned Agent\"] }}",
            "Email Type": "={{ $('Get row(s) in sheet').item.json[\"Email Type\"] }}",
            "Priority": "={{ $('Get row(s) in sheet').item.json.Priority }}",
            "Notes": "={{ $('Get row(s) in sheet').item.json.Notes }}",
            "Escalation Status": "Escalated",
            "Escalated Date": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [
            "Lead ID"
          ],
          "schema": [
            {
              "id": "Lead ID",
              "displayName": "Lead ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Name",
              "displayName": "Lead Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow-Up Number",
              "displayName": "Follow-Up Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scheduled Date",
              "displayName": "Scheduled Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sent Date",
              "displayName": "Sent Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assigned Agent",
              "displayName": "Assigned Agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Type",
              "displayName": "Email Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Escalation Status",
              "displayName": "Escalation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Escalated Date",
              "displayName": "Escalated Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        -112
      ],
      "id": "beab0f8d-90ec-45df-8188-b702db80b077",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLESHEETSOAUTH2API_CREDENTIAL_ID",
          "name": "YOUR_googleSheetsOAuth2Api_account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AI_Sales_Coordinator_System_CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": 1021398440,
          "mode": "list",
          "cachedResultName": "Activity Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=YOUR_SHEET_GID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}",
            "Lead ID": "={{ $('Overdue Follow-Up?').item.json[\"Lead ID\"] }}",
            "Activity Type": "Escalation Sent",
            "Description": "=Escalation alert sent for overdue follow-up assigned to {{ $('Overdue Follow-Up?').item.json[\"Assigned Agent\"] }}",
            "Agent": "={{ $('Overdue Follow-Up?').item.json[\"Assigned Agent\"] }}",
            "Status": "Completed",
            "Notes": "Manager or agent was notified through Telegram and follow-up row was marked as escalated."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead ID",
              "displayName": "Lead ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Activity Type",
              "displayName": "Activity Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Agent",
              "displayName": "Agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        -112
      ],
      "id": "f3d216ab-f853-40f9-800e-719145bfcdce",
      "name": "Activity Log: Escalation Sent",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLESHEETSOAUTH2API_CREDENTIAL_ID",
          "name": "YOUR_googleSheetsOAuth2Api_account"
        }
      }
    },
    {
      "parameters": {
        "content": "Schedule Trigger → daily or every few hours\nOverdue Follow-Up? → Status = Pending + Lead Email not empty + Scheduled Date < now + Escalation Status not already Escalated",
        "height": 96,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -304
      ],
      "typeVersion": 1,
      "id": "a6811fff-5b4c-453c-8f12-b9b0aa513aac",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Overdue Follow-Up?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Overdue Follow-Up?": {
      "main": [
        [
          {
            "node": "Notify Manager / Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Manager / Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Activity Log: Escalation Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c44445b3-beed-4d15-8809-7a6ccc4d9276",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "nodeGroups": [],
  "id": "tLq4BYk4B0RNM33N",
  "tags": []
}